.toggleButton {
    /*border: thin solid red;*/
    margin: 0;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.radio {
    border: thin solid gold;
    display: inline-flex;
}